@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Services
@inject IHamsterData _db
@inject IResultData _bd

@page "/battle"
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<h3 class="text-center"> Choose the cutest Hamster</h3>

@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="column" style="float: left">
            <div style="float: left;">
                <img class="img-thumbnail" src="/Content/Photos/@hamster1.ImgName">
                <p class="text-center">@hamster1.Name</p>
                <p class="text-left">Age:&nbsp;@hamster1.Age</p>
                <p class="text-left">Favorite food:&nbsp;@hamster1.FavFood</p>
                <p class="text-left">Favorite activity:&nbsp;@hamster1.Loves</p>
                @if (result)
                {
                    <p>Wins: @hamster1.Wins Defeats: @hamster1.Defeats</p>
                }
                else
                {
                    <button type="button" @onclick="(() => BattleResult(hamster1,hamster2))" class="btn btn-primary">Like</button>
                }
            </div>
        </div>
        <div class="column justify-content-center">
            @if (result)
            {
                <button type="button" class="btn btn-primary" onfocus="location.reload()">Next battle</button>
            }
            else
            {
                <br /> <h1 class="text-center">VS</h1>
            }
        </div>
        <div class="column" style="float: right">
            <div style="float: right;">
                <img class="img-thumbnail" src="/Content/Photos/@hamster2.ImgName">
                <p class="text-center">@hamster2.Name</p>
                <p class="text-left">Age:&nbsp;@hamster2.Age</p>
                <p class="text-left">Favorite food:&nbsp;@hamster2.FavFood</p>
                <p class="text-left">Favorite activity:&nbsp;@hamster2.Loves</p>
                @if (result)
                {
                    <p>Wins: @hamster2.Wins Defeats: @hamster2.Defeats</p>

                }
                else
                {
                    <button type="button" @onclick="(() => BattleResult(hamster2,hamster1))" class="btn btn-primary">Like</button>
                }
            </div>
        </div>
    </div>
}

@code
{
    private List<HamsterModel>? hamsters;
    private HamsterModel? hamster1;
    private HamsterModel? hamster2;
    private ResultModel Result = new ResultModel();
    private bool result = false;
    protected override async Task OnInitializedAsync()
    {
        if (hamsters is null)
        {
            hamsters = await _db.GetHamsters();

        }
        (hamster1, hamster2) = Randomizer.Gethamster(hamsters);
    }

    private async Task BattleResult(HamsterModel? winner, HamsterModel? loser) 
    {

        await _db.InsertLikes(winner);
        await _db.InsertDefeat(loser);
        Result.WinnerId = winner.Id;
        Result.LoserId = loser.Id;

        await _bd.InsertBattle(Result);
        winner.Wins++;
        loser.Defeats++;
        result = true;
    }

}
