@page "/leaderboard"
@using DataAccessLibrary
@inject IHamsterData _db
@using HamsterWars.Services
<h3>Statistics</h3>


<lable>Sort:</lable>
<select @bind="SelectedSort">
    <option value="name desc">Name desc</option>
    <option value="wins desc">Wins desc</option>
    <option value="name asc">Name asc</option>
    <option value="wins asc">Wins asc</option>
</select>

@if (hamsters is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">age</th>
                <th scope="col">Wins</th>
                <th scope="col">Win rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hamster in hamsters)
            {
                <tr>
                    <td>@hamster.Name</td>
                    <td>@hamster.Age</td>
                    <td>@hamster.Wins</td>
                    <td>@PercentCalculator.WinRateCalculator(@hamster.Wins,@hamster.Games)%</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private string selectedSort;
    public string SelectedSort
    {
        get { return selectedSort; }
        set
        {
            selectedSort = value;
            selectedSortDictionary[selectedSort]();
        }
    }
    Dictionary<string, Action> selectedSortDictionary;

    private List<HamsterModel> hamsters = new List<HamsterModel>();
    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
        selectedSortDictionary = new Dictionary<string, Action>
            {
                ["name desc"] = () => hamsters = hamsters.OrderByDescending(s => s.Name).ToList(),
                ["name asc"] = () => hamsters = hamsters.OrderBy(s => s.Name).ToList(),
                ["wins desc"] = () => hamsters = hamsters.OrderByDescending(s => s.Wins).ToList(),
                ["wins asc"] = () => hamsters = hamsters.OrderBy(s => s.Wins).ToList(),

            };
    }
}
